[KSplash Theme: sidux-preview]
Name = sidux-preview
Description = Splash theme sidux-preview
Version = 1.1
Author = etorix <etorix@gmail.com> [from a image by cleary]
Always Show Progress = false
Progress Visible = false
Statusbar Background = #000000
Statusbar Icon = false
Icons Jumping = false
Icons Flashing = false
Message1 = Starting KDE... 
Message2 = Initializing System Services...
Message3 = Initializing Peripherals...
Message4 = Loading the Window Manager...
Message5 = Loading the Desktop...
Message6 = Loading the Panel...
Message7 = Restoring Session...
